.button {
  height: 100px;
  width: 100px;
  border: 2px, solid black;
  padding: 4px;
  margin: 5px;
  transform: translateX(-50%) translateY(-50%);
}

.page {
  display: flex;
  justify-content: center;
  margin-top: 20%;
}

.text {
  justify-content: center;
  text-align: center;
}
p{
  font-size: 25px
}
 


#orange {
  background-color:orange;
}
#green {
  background-color: rgb(77, 197, 77);
}
#yellow {
  background-color: yellow;
}
#pink {
  background-color: pink;
}
